@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Open+Sans:wght@300;400;500&display=swap');


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    /* background-image: url('https://cdn.wallpapersafari.com/66/44/zldaLS.jpg');
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center; */
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}

.head {
    z-index: 10;
    color: white;
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 40%;
    font-size: 1.3rem;
}

.head .title {
    font-family: 'Licorice', cursive;
    font-size: 3rem;
}

#game-board {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/56fad073-9d14-4999-a296-839acbb5c551/d3byyeg-c060198a-c568-43c3-ad0a-43f0035e4e44.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU2ZmFkMDczLTlkMTQtNDk5OS1hMjk2LTgzOWFjYmI1YzU1MVwvZDNieXllZy1jMDYwMTk4YS1jNTY4LTQzYzMtYWQwYS00M2YwMDM1ZTRlNDQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CDXOLGT1QlXOU3loGX8mkR6uZBvcJsVBOIaVimrW1Ws');
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
    border: 5px solid #fff;
    width: 100vmin;
    height: 90%;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    margin-top: 2rem;
}

.snake {
    background-color: #0000ff;
    border: 0.25vmin solid #000;
}

.food {
    background-color: #ffff00;
    border: 0.25vmin solid #000;
    border-radius: 50%;
}
