body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    background-image: url('https://wallpaperaccess.com/full/4434748.jpg');
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
}

